name: Docker Image CI

on:
  push:
    branches: [ "master" ]

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Log in to GHCR
      run: |
        echo "${{ secrets.GITHUB_TOKEN }}" \
          | docker login ghcr.io -u ${{ github.actor }} --password-stdin

    - name: Build image
      run: docker build . -t ghcr.io/${{ github.actor }}/demo-api:latest

    - name: Push image
      run: docker push ghcr.io/${{ github.actor }}/demo-api:latest
      
     
    # ----- UPDATE YAML -----
    - name: Update Deployment YAML with new image tag
      run: |
        sed -i "s#ghcr.io/.*/demo-api:.*#ghcr.io/${{ github.actor }}/demo-api:${{ env.TAG }}#g" k8s/deployment.yaml

    - name: Commit YAML update
      run: |
        git config --global user.email "github-actions@users.noreply.github.com"
        git config --global user.name "GitHub Actions"
        git add k8s/deployment.yaml
        git commit -m "Update image tag to ${{ env.TAG }}"
        git push
